:root {
  --color-primary: #EC6724;
  --color-primary-hover: #e98746;
  --color-danger: #D7463B;

  --color-bg: #F5F5F5;
  --color-border: #E5E5E5;
  --color-text: #000000;

  --font-sans: Inter, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, Helvetica, Arial, "Apple Color Emoji","Segoe UI Emoji";
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;
  --radius-full: 9999px;

  --shadow-card: 0 1px 2px rgba(0,0,0,0.06);

  --z-index-modal: 1300
}

* {
  font-family: var(--font-sans);
  box-sizing: border-box;
}

/* Exemplo de tema dark (opcional)
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #0f1115;
    --color-border: #262b36;
    --color-text: #f3f4f6;
    --shadow-card: 0 1px 2px rgba(0,0,0,0.5);
  }
}
*/